<!DOCTYPE html>
<html lang="en" class="light scroll-smooth group" data-layout="vertical" data-sidebar="light" data-sidebar-size="lg" data-mode="light" data-topbar="light" data-skin="default" data-navbar="sticky" data-content="fluid" dir="ltr">

<head>

    <meta charset="utf-8">
    <title>Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content="Admin & Dashboard" name="description">
    <meta content="StarCode Kh" name="author">

    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="~/css/starcode2.css" rel="stylesheet" />
</head>

<body class="flex items-center justify-center min-h-screen py-16 lg:py-10 bg-slate-50 dark:bg-zink-800 dark:text-zink-100 font-public">


    @RenderBody()

    <div class="fixed items-center hidden bottom-6 right-12 h-header group-data-[navbar=hidden]:flex">
        <button data-drawer-target="customizerButton" type="button" class="inline-flex items-center justify-center w-12 h-12 p-0 transition-all duration-200 ease-linear rounded-md shadow-lg text-sky-50 bg-sky-500">
            <i data-lucide="settings" class="inline-block w-5 h-5"></i>
        </button>
    </div>


    <script src="~/js/layout.js"></script>
    <script src="~/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="~/libs/popperjs/core/umd/popper.min.js"></script>
    <script src="~/libs/tippy.js/tippy-bundle.umd.min.js"></script>
    <script src="~/libs/simplebar/simplebar.min.js"></script>
    <script src="~/libs/prismjs/prism.js"></script>
    <script src="~/libs/lucide/umd/lucide.js"></script>
    <script src="~/js/starcode.bundle.js"></script>
    <script src="~/js/pages/auth-login.init.js"></script>
</body>

</html>